.action-button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-family);
  font-size: 1.1rem;
}

.aeropay-quantity.action-button {
  background: #e5f0ff;
  border-radius: 12px;
  color: #176feb;
  text-align: center;
  padding: 0.4rem 1rem;
}

.aeropay-quantity.action-button.active {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  color: #f5f9ff;
}

.aeropay-add.action-button {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: relative;
  height: 56px;
}

.aeropay-filter.action-button {
  background: #e5f0ff;
  border-radius: 12px;
  color: #176feb;
  text-align: center;
  padding: 0.8rem 1.6rem;
}

.aeropay-filter.action-button.active {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  color: #f5f9ff;
}


.aeropay-quantity.action-button.active {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  color: #f5f9ff;
}

.redeemProduct {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
}

.redeemProduct.needPoints {
  background: #e6edf7;
  color: #7c899c;
}
