.landing {
  /* border: 2px solid red; */
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.proposal-container {
  margin-bottom: 2.5rem;
}

.proposal-label {
  color: #7C899C;
  display: block;
  font-size: var(--label-font-size);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.proposal-title {
  font-size: clamp(var(--title-font-size-sm), 20vw, var(--title-font-size-lg));
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80%;
  margin-bottom: 1rem;
}

.proposal-subtitle {
  color: #7C899C;
  font-size: var(--subtitle-font-size);
  font-weight: 600;
  line-height: 150%;
}

.cta-button-container {
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  border-radius: 24px;
  color:  #FFFFFF;;
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding: 1.5rem;
}

.landing-illustration-container {
  padding: 3rem 0rem;
}

.illustration-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* walkthrough section */

.walkthrough-section {
  background: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
}

.container-walkthrough-cards > div {
  margin-bottom: 2rem;
}

.walkthrough-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 0.8rem;
}

.walkthrough-card-header {
  background: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
  border-radius: 24px 24px 0 0;
}

.walkthrough-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.walkthrough-card-footer {
  background:  #FFFFFF;
  border-radius: 0px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1.5rem 1rem;
}

.walkthrough-card-footer-title {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.walkthrough-card-footer-contain-logo {
  background: #E5F0FF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: .5rem;
}

.walkthrough-card-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.walkthrough-card-body {
  margin-top: 1.3rem;
}

.walkthrough-card-body p {
  color: #7C899C;
  font-size: var(--body-font-size);
  font-weight: 600;
  line-height: 150%;
}
