.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-cta-container {
  max-width: 600px;
}

.proposal-container {
  margin-bottom: 2.5rem;
}

.proposal-label {
  color: #7c899c;
  display: block;
  font-size: var(--label-font-size);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.proposal-title {
  font-size: clamp(var(--title-font-size-sm), 15vw, var(--title-font-size-lg));
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80%;
  margin-bottom: 1rem;
}

.proposal-subtitle {
  color: #7c899c;
  font-size: var(--subtitle-font-size);
  font-weight: 600;
  line-height: 150%;
}

.cta-button-container {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  border-radius: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-weight: 600;
  max-width: 320px;
  padding: 1.5rem;
}

.icon-cta-landing {
  display: block;
  margin-left: 0.7rem;
}

.landing-illustration-container {
  margin-top: 6rem;
  max-width: 720px;
  max-height: 600px;
}

.illustration-container {
  line-height: 0;
  position: relative;
}

.illustration-container img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

/* walkthrough section */

.walkthrough-section {
  background: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
  position: relative;
  padding: 4rem 0rem;
}

.walkthrough-section::before {
  content: "";
  background: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
  position: absolute;
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 100%;
  z-index: 5;
}

.container-walkthrough-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  position: relative;
  z-index: 10;
}

.walkthrough-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 0.8rem;
}

.walkthrough-card-header {
  background: linear-gradient(
    102.47deg,
    #7296eb -5.34%,
    #eac0e9 106.58%,
    #eac0e9 106.58%
  );
  border-radius: 24px 24px 0 0;
}

.walkthrough-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.walkthrough-card-footer {
  background: #ffffff;
  border-radius: 0px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1.5rem 1rem;
}

.walkthrough-card-footer-title {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.walkthrough-card-footer-contain-logo {
  background: #e5f0ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.walkthrough-card-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.walkthrough-card-body {
  margin-top: 1.3rem;
}

.walkthrough-card-body p {
  color: #7c899c;
  font-size: var(--body-font-size);
  font-weight: 600;
  line-height: 150%;
}

/* product section */

.product-section-header-title h2 {
  font-size: var(--titleL2-font-size-sm);
  font-weight: 900;
  text-transform: uppercase;
}

.product-section-header-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.select-filter-category {
  background: #ffffff;
  border: 1px solid #dae4f2;
  border-radius: 16px;
  color: #7c899c;
  font-size: var(--label-font-size);
  font-weight: 600;
  font-family: var(--font-family);
  height: 56px;
  margin-top: 0.5rem;
  padding: 0rem 1rem;
}

.form-filter-category,
.product-section-header-filter-price {
  display: flex;
  flex-direction: column;
}

.form-filter-category label,
.product-section-header-filter-price span {
  color: #7c899c;
  font-weight: 600;
}

.product-section-header-filter-price {
  margin-top: 2rem;
}

.filter-price-options-container {
  /* display: flex; */
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-top: 0.5rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.filter-price-options-container::-webkit-scrollbar {
  display: none;
}

.filter-price-options-container > div {
  scroll-snap-align: start;
}

.filter-price-option {
  background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  border-radius: 12px;
  color: #f5f9ff;
  text-align: center;
  padding: 0.8rem 0;
  width: 136px;
}

.filter-price-option p {
  font-weight: 600;
}

.container-product-pagination {
  border: 1px solid #dae4f2;
  border-radius: 16px;
  color: #7c899c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  width: 258px;
  height: 64px;
  margin-top: 2rem;
}

.content-icon-pagination {
  background: #e5f0ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.content-icon-pagination.left {
  opacity: 0.5;
}

.content-icon-pagination img {
  width: 100%;
  height: 100%;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}

.product-section {
  padding-top: 3rem;
}


@media screen and (min-width: 1024px) {
  .landing {
    display: flex;
    flex-direction: row;
    margin-bottom: 15rem;
  }

  .landing-illustration-container {
    margin-top: 0;
  }
  .illustration-container::before {
    content: "";
    background: linear-gradient(
      102.47deg,
      rgba(23, 111, 235, 0.5) -5.34%,
      rgba(255, 128, 255, 0.5) 106.58%
    );
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 104px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 5;
  }

  .walkthrough-card:first-child {
    transform: rotate(-3deg) translateY(20px);
  }

  .walkthrough-card:last-child {
    transform: rotate(3deg) translateY(20px);
  }

  .form-filter-category,
  .product-section-header-filter-price {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-filter-category label,
  .product-section-header-filter-price span {
    margin-right: 0.7rem;
  }

  .product-section-header-filter {
    flex-direction: row;
    align-items: center;
  }

  .product-section-header-filter-price {
    margin-top: 0rem;
  }

  .container-product-pagination {
    margin-top: 0rem;
  }
}
