.App-header {
  background-color: white;
  padding: 1.5rem 5vw;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-nav-container-action {
  border: 1px solid #dae4f2;
  border-radius: 40px;
  cursor: pointer;
  padding: 0.5rem;
  width: 50%;
  max-width: 180px;
  position: relative;
}

.App-nav-container-links a {
  color: #252f3d;
  font-weight: 600;
  text-decoration: none;
}

.App-nav-container-links li {
  list-style: none;
  position: relative;
}

.App-nav-container-links li::before {
  content: "";
  background: var(--gradient-background);
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 10%;
  transition: all ease-in-out 0.2s;
}

.App-nav-container-links li:hover::before {
  width: 100%;
}

.App-nav-container-aerocoins {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 20;
}
.aerocoins-logo {
  width: 24px;
  height: 24px;
}

.aerocoins-logo img {
  width: 100%;
  height: 100%;
}

.aerocoins-points {
  font-weight: 600;
}

.aerocoins-dropdown-icon {
  margin-left: 0.3rem;
  transition: all ease 0.2s;
}
.aerocoins-dropdown-icon.rotate {
  transform: rotate(-180deg);
}

.App-nav-container-aeropay-card {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  border: 1px solid #dae4f2;
  cursor: initial;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 312px;
  opacity: 0;
  transform: translateY(-450px);
  transition: all ease 0.2s;
  z-index: 15;
}

.App-nav-container-logo {
  width: 32px;
  height: 32px;
}

.App-nav-container-logo img {
  width: 100%;
}

.App-nav-container-links {
  text-align: center;
  padding: 0 1rem;
}

.App-nav-container-aeropay-card.show {
  transform: translateY(0);
  opacity: 1;
}

.aeropay-header {
  border-bottom: 1px solid #dae4f2;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.aeropay-header-title,
.aeropay-header-balance {
  color: #252f3d;
  font-size: 1.1rem;
  font-weight: 600;
}

.aeropay-body {
  padding: 1rem;
}

.aeropay-body-aerocard {
  background: #252f3d;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #f5f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 148px;
  padding: 1rem;
}

.aeropay-body p {
  font-weight: 600;
}

.aeropay-body-aerocard,
.aeropay-body-points,
.aeropay-body-action {
  margin-top: 1rem;
}

.aeropay-body-action {
  position: relative;
  z-index: 20;
}

.aeropay-body-aerocard-header {
  display: flex;
  justify-content: space-between;
}

.aeropay-body-aerocard-footer {
  display: flex;
  justify-content: space-between;
}

.aeropay-body-points {
  position: relative;
}

.content-success-icon {
  margin-right: 1rem;
}

.aeropay-points {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.aeropay-body-form {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}
