.App-header {
  padding: 2.5rem 0rem 6rem 0rem;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-nav-container-action {
  border: 1px solid #DAE4F2;
  border-radius: 40px;
  padding: .5rem ; 
  width: 50%;
  max-width: 180px;
}

.App-nav-container-aerocoins {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aerocoins-logo {
  width: 24px;
  height: 24px;
}

.aerocoins-logo img {
  width: 100%;
  height: 100%;
}

.aerocoins-points {
  font-weight: 600;
}

.aerocoins-dropdown-icon {
  margin-left: .3rem;
}