* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --title-font-size-sm: 6rem;
  --titleL2-font-size-sm: 2rem;
  --title-font-size-lg: 12.5rem;
  --subtitle-font-size: 1rem;
  --label-font-size: 1rem;
  --body-font-size: 1rem
  --font-family: 'Montserrat', sans-serif;
  --gradient-background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
  --gradient-background-variant: linear-gradient(102.47deg, #7296eb -5.34%, #eac0e9 106.58%, #eac0e9 106.58%);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  overflow: hidden;
}


