.action-message {
  border: 2px solid #29cc74;
  border-radius: 12px;
  background: #ffffff;
  color: #252f3d;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100px;
  position: absolute;
  opacity: 0;
  transform: translateY(70px);
  transition: all ease 0.2s;
  z-index:5;
}

.redeem-text {
  color: #7c899c;
  font-weight: 600;
  margin-left: 1rem;
}

.action-message.product {
  top: auto;
  bottom: 130px;
  transform: translateY(100px);
  transition: all ease 0.2s;
  z-index: 5;
}

.action-message.product.show {
  top: auto;
  bottom: 130px;
  transform: translateY(60px);
  z-index: 15;
}

.action-message.show {
  opacity: 1;
  transform: translateY(0px);
  z-index: 15;

}